@import 'bootstrap/scss/bootstrap';
a{
    text-decoration:none;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


img{
    height:400px;
    width:333px;
    border-radius: 50%;
    margin-bottom: 30px;
}
#index-page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1000px;
    margin: auto;
  
}
.players{
    width: 333px;
}
#vs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 400px;
    color: $orange-600;
}

#result{
    
    width: 1000px;
    margin-top: 20px;
    height: 100px;
}

#vs-letter{
    font-size: 200px;
}

#betting-div{
    display: flex;
    width: 1100px;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
    padding: 30px;

}

#player-two-button{

    width: 333px;
    height: 70px;
}

#player-one-button{
    width: 333px;
    height: 70px;
}
#fight-button{
    width: 310px;
    height: 130px;
}
#signout{
    color: black;
    background-color:black ;
}

a:hover{
    color: white;
}

#e-wallet{
    color: white;
}
#header-title{
    color: white;
}

body{
  margin-top: 0;
}

#navbar{
    margin-bottom: 20px;
}

#player-one-name{
    display:flex;
    justify-content: center;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

#player-two-name{
    display:flex;
    justify-content: center;
    font-size: 30px;
    font-family: sans-serif;
    
}

img{
    box-shadow: 0 0 30px black;
}

.test{
    display: flex;
}
.stats{
    width: 50px;
}
#qwerty{
    display:flex;
    justify-content: center;
}

#who-wins{
    font-size: 30px;
    display:flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0dcaf0;
 
}
#winorlose{
    font-size: 30px;
    display:flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #dc3545;
}
#amount{ 

    font-size: 25px;
    display:flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  #ffc107;
    
}

#signin{
    display:flex;
    justify-content: center;
    padding: 0;
}

#sign-in-page{
    width: 300px;
    margin: auto;
    box-shadow: 0px 0px 5px black;
    margin-top: 120px;
    padding:30px;
    background-color: blanchedalmond;
}

#signup{
    display:flex;
    justify-content: center;
    padding: 0;
   
}

#sign-up-page{
    width: 300px;
    margin: auto;
    box-shadow: 0px 0px 5px black;
    margin-top: 120px;
    padding:30px;
    background-color: blanchedalmond;
}

//edit.html.erb

#topup-div{
    width:300px;
    padding: 20px;
    box-shadow: 0px 0px 5px;
    margin:auto;
    margin-bottom:30px;
    margin-top: 30px;
}

#topup{
   
    width:300px;
    padding: 20px;
    box-shadow: 0px 0px 5px;
    margin:auto;
    margin-top:50px;
}

#show-edit-password{
    width:150px;
    margin: auto;
    margin-top: 40px;
}